<body>

  <mat-card id="loginCard">

    <mat-form-field class="formField" appearance="legacy">
      <input matInput [formControl]="userEmail" class="loginCardItem" placeholder="Email">
    </mat-form-field>

    <mat-form-field class="formField" appearance="legacy">
      <input matInput [formControl]="userPassword" type="password" class="loginCardItem" placeholder="Password">
    </mat-form-field>

    <button (click)="login()" class="loginCardItem" id="loginButton" mat-raised-button color="primary"> Login
    </button>

  </mat-card>


  <mat-card *ngIf="loginError" id="loginErrorCard">
    <h3 style="color: red">{{ errorTitle }}</h3>
    <p>{{ errorBody }}</p>
  </mat-card>





</body>