<body>

  <mat-card id="loginCard">

    <mat-form-field class="formField" appearance="legacy">
      <input matInput class="loginCardItem" placeholder="Email">
    </mat-form-field>

    <mat-form-field class="formField" appearance="legacy">
      <input matInput class="loginCardItem" placeholder="Password">
    </mat-form-field>

    <button (click)="test()" class="loginCardItem" id="loginButton" mat-raised-button color="primary"
      routerLink='/homeScreen'> Login
    </button>

  </mat-card>






</body>